<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-image type-nested" event="{ mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false">
    <render args="getOptions().template" ></render>
    <figure attr="data.main.attributes" ko-style="Object.assign({}, data.main.style(), !data.desktop_image.attributes()['data-src'] ? {} : {borderStyle: 'none'})" css="data.main.css">
        <scope args="getUploader().getUiComponent()">
            <render></render>
        </scope>
        <img if="getViewportImageData().attributes()['data-src']"
             attr="getViewportImageData().attributes"
             class="lazyload preview-image"
             css="getViewportImageData().css"
             ko-style="getViewportImageData().style" />
        <!-- ko if: data.caption.html() -->
        <!-- ko with: data.caption -->
        <!-- ko with: {attributes: attributes, css: css, dataCaptionUnsanitizedHtml: html, style: style} -->
        <figcaption attr="attributes"
                    css="css"
                    html="dataCaptionUnsanitizedHtml"
                    ko-style="style">
        </figcaption>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
    </figure>
</div>
